# ---
# dependency:
#   name: galaxy
# driver:
#   name: podman
# platforms:
#   - name: instance
#     image: quay.io/centos/centos:stream8
#     pre_build_image: true
# provisioner:
#   name: ansible
# verifier:
#   name: ansible

---
dependency:
  name: galaxy
driver:
  name: podman
platforms:
  - name: instance-ubuntu
    image: ubuntu:latest
    privileged: true
    pre_build_image: true
provisioner:
  name: ansible
  inventory:
    host_vars:
      instance-ubuntu:
        ansible_python_interpreter: /usr/bin/python3
verifier:
  name: ansiblemolecule test -s podman